/*Общее*/

@font-face{
  font-family: 'a_font_with_serifs';
  src: url('../fonts/a_font_with_serifs.ttf');
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

html {
	min-height: 100%;
}

body {
    background-color: #DBDBDB;
    min-width: 1000px;
	color: #363101;
	font-size: 10px;
	font-family: 'Times New Roman', Arial, Helvetica, sans-serif;
}

ul {
	list-style: none;
    display: inline-block;
}

a {
	color: #007EA8;
	text-decoration: none;
	transition: color 0.4s ease-in 0s;
    
    &:hover {
        color: #5ED7FF;
    } 

    &:active {
        color: #00BFFF;
    }
}

h2 {
    font-size: 1.5rem;
}

.title {
    text-align: center;
}

.title_small {
    font-size: 1.1rem;
}

.image {
    height: auto;
    max-width: 100%;
}

.article {
    font-size: 1.1rem;
    line-height: 1.4;
}

.page {
    height: 100vh;
    animation: appearance 1s ease-in-out;
    animation-fill-mode: forwards;
}

.main-container {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-width: 400px;
    max-width: 900px;
    z-index: 100;
}

.columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 10%;
}

.column {
    min-height: 510px;
    width: 49%;
}

.section {
    background-color: #F2F2F2;
    box-shadow: 0 0px 30px 2px rgba(0,0,0,0.5);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;
}

.section__title {
    margin-bottom: 10px;
}

.name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.name__title {
    display: flex;
    flex-direction: column;
}

.name__subtitle {
    font-size: 1rem;
    color: #737373;
}

.portfolio {
    height: 100%;
    padding-bottom: 0;
    padding-top: 0;
}

.portfolio__inner {
    margin-bottom: 15px;
    
    &:last-child {
        margin-bottom: 0;
    }
}

.portfolio__title {
    padding-top: 10px;
    margin-bottom: 20px;
}

.portfolio__title_small {
    margin-bottom: 10px;
}

.layouts__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1rem;
}

.layouts__item {
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.5);
    background-color: #004359;
    color: #000;
    padding: 5px;
}

.layouts__link {
    color: #fff;
}

.portfolio__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 1.6;
    font-size: 1.1rem;
}

.portfolio__item {
    width: 100%;
}

.technologies__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    line-height: 1.4;
    font-size: 0.9rem;
}

.technologies__item {
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.5);
    background-color: #007EA8;
    color: #fff;
    padding: 5px;
}

.contacts {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 25px;
}

.contacts__list {
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.contacts__item {
    display: inline-block;
}

.contacts__link {
    display: inline-block;
    opacity: 0.7;
    transition: opacity 0.4s ease-in 0s;
    
    &:hover {
        opacity: 1;
    }
}

@keyframes appearance{
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}
