/*Общее*/

@font-face{
  font-family: 'abodoninova';
  src: url('../fonts/abodoninova.ttf');
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
	height: 100%;
}

body {
    height: 100%;
    background-color: #F2F2F2;
    font-size: 1.8rem;
	color: #363101;
	font-family: 'PT Sans', sans-serif, Arial, Helvetica, sans-serif;;
}

ul {
	list-style: none;
    display: inline-block;
}

a {
	color: #007EA8;
	text-decoration: none;
	transition: color 0.4s ease-in 0s;
    
    &:hover {
        color: #5ED7FF;
    } 

    &:active {
        color: #00BFFF;
    }
}

p {
    line-height: 1.8;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

.title {
    text-align: left;
}

.image {
    height: auto;
    max-width: 100%;
}

.article {
    line-height: 1.4;
}

.page {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    animation: appearance 1s ease-in-out;
    animation-fill-mode: forwards;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.profile {
    background-color: #fff;
    box-shadow: 0 0 30px 2px rgba(0,0,0,0.5);
}

.profile__inner {
    padding: 10px;
}

.profile__title {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #007EA8;
    line-height: 0.8;   
}

.profile__name {
    display: block;
    width: 100%;
}

.profile__post {
    width: 100%;
    font-size: 1.6rem;
    color: #737373;
}

.contacts__inner {
    display: flex;
    margin-bottom: 10px;
    
    &:last-child {
        margin-bottom: 0;
    }
}

.contacts__name {
    font-weight: 600;
}

.content {
    background-color: #fff;
    box-shadow: 0 0 30px 2px rgba(0,0,0,0.5);
}

.section:nth-child(2n) {
    background-color: #f0f0f0;
}

.section__title {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
    
    &:after {
        content: "";
        position: absolute;
        width: 60px;
        height: 2px;
        background-color: #007EA8;
        left: 0;
        bottom: 0;
    }
}

.section__content {
    display: flex;
    justify-content: space-around;
}

.layout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
    height: 17rem;
    font-size: 3rem;
    font-variant: small-caps;
    color: #fff;
    transition: all 0.4s ease-in 0s;
    
    &:hover {
         color: #000;
         box-shadow: 0 0 40px 2px rgba(0,0,0,0.7);
    }
}

.layout__sigma {
    background-color: #ff9600;
}

.layout__responsive {
    background-color: #0091be;
}

.layout__dropp {
    background-color: #fd5433;
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 28rem;
    font-size: 4rem;
    font-variant: small-caps;
    text-indent: -9999px;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    
    transition: box-shadow 0.4s ease-in 0s;
    
    &:hover {
         color: #fff;
         text-indent: 0;
         box-shadow: inset 0 0 0 400px rgba(0,0,0,.6);
    }
}

.project__react {
    background-image: url(../img/react.jpg);
    background-color: #FF0000;
}

.project__phaser {
    background-image: url(../img/phaser.jpg);
    background-color: #8400FF;
}

@keyframes appearance{
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}

@media screen and (min-width: 641px){
    html {
        font-size: 10px;
    }
    
    .section {
        padding: 3rem;
    }
}

@media screen and (max-width: 640px) and (min-width: 300px){
    html {
       font-size: 8px;
    }
    
     .section {
        padding: 2rem;
    }
}

@media screen and (min-width: 900px){
    .profile {
        width: 20%;
        margin-right: 2rem;
    }
    
    .contacts {
        font-size: 1.4rem;
    }
    
    .contacts__inner {
        flex-direction: column;
    }
    
    .contacts__name, .contacts__value {
        width: 100%;
    }
    
    .content {
        width: 70%;
    }
}

@media screen and (max-width: 900px) and (min-width: 300px){
    .page {
        width: 100%;
        flex-direction: column;
    }
    
    .content {
        width: 100%;
    }
    
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 2rem 3rem;
        margin-right: 0;
        margin-bottom: 25px;
    }
    
    .profile__title {
        text-align: center;
    }
    
    .profile__inner {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .contacts {
        font-size: 1.8rem;
    }
    
    .contacts__inner {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .imagebox {
        border: 2px solid #007EA8;
        border-radius: 50%;
        width: 14rem;
        height: 14rem;
        overflow: hidden;
    }
    
    .layout, .project {
        font-size: 2rem;
    }
    
    .layout {
        height: 15rem;
    }
    
    .project {
        height: 20rem;
    }
}