/*Общее*/

@font-face{
  font-family: 'abodoninova';
  src: url('../fonts/abodoninova.ttf');
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
	height: 100%;
}

body {
  height: 100%;
  background-color: rgb(34, 34, 38);
  color: rgb(255, 255, 255);
  font-size: 18px;
	font-family: 'PT Sans', sans-serif, Arial, Helvetica, sans-serif;
}

.list {
  width: 45%;
  list-style: none;

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
  }
}

.link {
  color: #7adeff;
  text-decoration: none;
  transition: color 0.4s ease-in 0s;

  &:hover {
    color: #00c0ff;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 0;
}

.arrow {
  display: flex;
  align-items: center;
  margin-right: 20px;

  &__line {
    width: 80px;
    height: 4px;
    background-color: rgb(255, 255, 255);
  }

  &__triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid rgb(255, 255, 255);
    border-bottom: 10px solid transparent;
  }
}

.profile {
  max-width: 800px;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  animation: appearance 1s ease-in-out;
  animation-fill-mode: forwards;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }

  &__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 3rem;
  }

  &__specialization {
    font-size: 1.15rem;
    font-weight: 300;
    color: #b5b5b5;
  }

  &__content {
    background-color: rgb(51, 51, 54);
    border-radius: 5px;
  }
}

.section {
  position: relative;
  padding: 30px 30px 20px;
  border-top: 1px solid rgb(255, 255, 255);
  margin-bottom: 1.5rem;
  z-index: 9998;

  &__title {
    position: absolute;
    top: -20px;
    left: 20px;
    padding: 5px 10px;
    background-color: rgb(51, 51, 54);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2px;
    font-size: 1.3rem;
    z-index: 9999;
  }

  &__list {
    font-size: 1rem;
  }
}

.experiense {
  &__work {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    border-left: 4px dashed rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
  }

  &__free {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: -3px;

    &,
    &:before,
    &:after {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgb(255, 255, 255);
    }

    &:after, &:before {
      display: block;
      position: absolute;
      content: "";
    }

    &:after {
      top: 20px;
    }

    &:before {
      bottom: 20px;
    }
  }

  &__title {
    width: 125px;
    text-align: center;
  }

  &__status {
    font-size: 1rem;
    font-weight: 300;
  }

  &__date {
    position: absolute;
    font-size: 1rem;

    &_start {
      top: -20px;
      left: 20px;

      &:after {
        top: 7px;
      }
    }

    &_finish {
      bottom: -18px;
      left: 20px;

      &:after {
        bottom: 5px;
      }
    }

    &_start:after,
    &_finish:after {
      display: block;
      position: absolute;
      left: -27px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgb(255, 255, 255);
      content: "";
    }
  }
}

.examples {
  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    width: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    background-color: #222226;
    transition: background-color 0.4s ease-in;

    &:hover {
      background-color: #131313;
    }
  }
}

@keyframes appearance{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

@media screen and (max-width: 600px){
  .profile {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;

    &__header {
      margin-bottom: 2rem;
    }

    &__avatar {
      width: 80px;
      height: 80px;
    }

    &__title {
      font-size: 2.2rem;
    }
  }

  .examples__link {
    font-size: 1.15rem;
  }
}
