/*Общее*/
* {
  margin: 0;
  padding: 0;
}
html {
  min-height: 100%;
}
body {
  color: #000;
  background-color: #fff;
  font-size: 16px;
  font-family: 'roboto-regular', Arial, Helvetica, sans-serif;
}
.main-container {
  width: 1200px;
  margin: 0px auto;
}
@media screen and (max-width: 640px) and (min-width: 361px) {
  .main-container {
    width: 620px;
  }
}
@media screen and (max-width: 360px) {
  .main-container {
    width: 340px;
  }
}
/*Страница*/
/*Подключаем переменные и миксины(цвета для шрифтов, размеры шрифтов и стили, цвета задних фонов и путь до спрайта)*/
/*Шрифты*/
@font-face {
  font-family: 'roboto-regular';
  src: url('../fonts/roboto-regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'roboto-italic';
  src: url('../fonts/roboto-italic.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'roboto-bold';
  src: url('../fonts/roboto-bold.ttf');
  font-style: normal;
}
/*Размеры для экранов*/
/*Подключаем компоненты верстки(корзина, контакты, лого, все меню на сайте, пагинацию, продукты, строку поиска)*/
.menu {
  font-size: 16px;
}
.menu__item {
  display: inline-block;
  margin-right: 35px;
}
.menu__item:last-child {
  margin-right: 0px;
}
/*������� ������*/
.top-panel {
  min-width: 1210px;
  padding: 16px 0px;
  border-bottom: 5px solid #fad027;
}
.page-name {
  float: left;
  margin-left: 10px;
  font-size: 24px;
}
.page-name__label {
  font-size: 16px;
  margin-top: 5px;
  color: #0091be;
}
.navigation {
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}
.hamburger {
  float: right;
  display: none;
  width: 55px;
  height: 50px;
}
.hamburger__trigger {
  position: absolute;
  z-index: 25;
  display: inline-block;
  width: 35px;
  height: 6px;
  border-top: 13px double #000;
  border-bottom: 4px solid #000;
  text-indent: -9999px;
  margin-top: 15px;
}
.hamburger__toggle {
  display: none;
}
.hamburger__toggle:checked ~ .hamburger__trigger {
  border-top-color: #0091be;
  border-bottom-color: #0091be;
}
.hamburger__toggle:checked ~ .hamburger__target {
  position: fixed;
  overflow: hidden;
  clip: auto;
  margin: auto;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  top: 0px;
  left: 0px;
}
.hamburger__toggle:checked ~ .hamburger__trigger {
  position: fixed;
}
.hamburger__target {
  z-index: 20;
  border: 0;
  background-color: #000;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  opacity: 0;
  transition: 0.5s opacity;
  text-align: center;
  list-style: none;
}
.hamburger__item:first-child {
  margin-top: 90px;
}
.hamburger__link {
  opacity: 1;
  font-size: 22px;
  text-indent: 0px;
  color: #fff;
  padding: 10px;
  display: block;
  transition: 0.5s all;
  padding: 8% 0px;
}
.hamburger__link:hover {
  color: #000;
  background: #fff;
}
@media screen and (max-width: 640px) and (min-width: 361px) {
  .top-panel {
    min-width: 620px;
  }
  .navigation {
    display: none;
  }
  .hamburger {
    display: inline-block;
  }
}
@media screen and (max-width: 360px) {
  .top-panel {
    min-width: 340px;
  }
  .navigation {
    display: none;
  }
  .hamburger {
    display: inline-block;
  }
}
/*Подключаем секции*/
/*О сайте*/
.about__title {
  margin-bottom: 55px;
}
.article__link {
  color: #0091be;
}
.section__article {
  float: left;
  width: 45%;
  margin-top: 10px;
}
.statistics {
  float: right;
  width: 45%;
}
.statistics__item {
  margin-bottom: 30px;
}
.statistics__item:last-child {
  margin-bottom: 0px;
}
.statistics__title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}
.skill {
  width: 100%;
  background-color: #eeeeee;
  height: 30px;
  border-radius: 0px 5px 5px 0px;
}
.skill__inner {
  height: 100%;
  border-radius: 0px 5px 5px 0px;
}
.skill__inner_documentation {
  width: 89%;
  background-color: #0091be;
}
.skill__inner_design {
  width: 85%;
  background-color: #40c95d;
}
.skill__inner_mobile {
  width: 95%;
  background-color: #d7d93f;
}
@media screen and (max-width: 640px) and (min-width: 361px) {
  .section__article {
    display: block;
    float: none;
    width: 95%;
    margin: 0 auto;
  }
  .statistics {
    display: block;
    float: none;
    width: 95%;
    margin: 20px auto 0px auto;
  }
}
@media screen and (max-width: 360px) {
  .section__article {
    display: block;
    float: none;
    width: 95%;
    margin: 0 auto;
  }
  .statistics {
    display: block;
    float: none;
    width: 95%;
    margin: 20px auto 0px auto;
  }
}
/*Блог*/
.blog {
  padding-bottom: 60px;
  box-shadow: 0 0 5px #eee;
}
.blog__title {
  margin-bottom: 40px;
}
.post {
  width: 100%;
  margin-bottom: 50px;
}
.post:nth-last-child(-n+2) {
  margin-bottom: 0px;
}
.post_tight {
  vertical-align: top;
  display: inline-block;
  width: 48%;
  margin-right: 40px;
}
.post_tight:last-child {
  margin-right: 0px;
}
.post__img {
  margin-bottom: 30px;
}
.post__title {
  margin-bottom: 25px;
}
.post__inner {
  margin-bottom: 25px;
}
.post__inner:last-child {
  margin-bottom: 0px;
}
.post__date {
  float: left;
  width: 10%;
  text-align: center;
}
.post__day {
  background-color: #eeeeee;
  padding: 15px 0px;
}
.post__month {
  background-color: #0091be;
  padding: 5px 0px;
  color: #fff;
}
.post__article {
  float: right;
  width: 85%;
}
.post__author {
  float: left;
  font-size: 15px;
  padding-left: 20px;
  background: url("../img/author.png") no-repeat scroll;
  background-position: 2px 3px;
}
.tags {
  float: right;
  font-size: 15px;
}
.tags__name {
  margin-right: 10px;
  padding-left: 20px;
  background: url("../img/tag.png") no-repeat scroll;
  background-position: 2px 3px;
  color: #000;
}
.tag {
  margin-right: 5px;
  padding: 5px 15px;
  background-color: #0091be;
  color: #fff;
  transition: background-color 0.4s ease-in 0.2s;
}
.tag:last-child {
  margin-right: 0px;
}
.tag:hover {
  background-color: #00b4ec;
}
@media screen and (max-width: 640px) and (min-width: 361px) {
  .post {
    margin-bottom: 50px;
  }
  .post:nth-last-child(-n+2) {
    margin-bottom: 50px;
  }
  .post:last-child {
    margin-bottom: 0px;
  }
  .post__title {
    margin-left: 10px;
    margin-right: 10px;
  }
  .post__inner {
    margin-left: 10px;
    margin-right: 10px;
  }
  .post_tight {
    width: 100%;
    margin-right: 0px;
  }
}
@media screen and (max-width: 360px) {
  .post {
    margin-bottom: 50px;
  }
  .post:nth-last-child(-n+2) {
    margin-bottom: 50px;
  }
  .post:last-child {
    margin-bottom: 0px;
  }
  .post__title {
    margin-left: 10px;
    margin-right: 10px;
  }
  .post__inner {
    margin-left: 10px;
    margin-right: 10px;
  }
  .post_tight {
    width: 100%;
    margin-right: 0px;
  }
  .tags {
    display: none;
  }
}
/*Контакты*/
.contacts {
  padding-top: 0px;
  padding-bottom: 0px;
  box-shadow: none;
}
/*Проекты*/
.project {
  position: relative;
  display: inline-block;
  width: 285px;
  height: 285px;
  margin-right: 15px;
  margin-bottom: 20px;
}
.project:nth-child(4n) {
  margin-right: 0px;
}
.project:nth-last-child(-n+4) {
  margin-bottom: 0px;
}
.project:hover .project__inner {
  opacity: 1;
  top: 0px;
  text-indent: 0px;
}
.projects__title {
  margin-bottom: 45px;
}
.project__notebook {
  background: url("../img/notebook.png") no-repeat scroll;
}
.project__inner {
  position: absolute;
  display: block;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #0091be;
  text-align: center;
  opacity: 0;
  top: -9999px;
  text-indent: -9999px;
  transition: opacity 0.4s ease-in 0.2s;
}
.project__name {
  padding-top: 45%;
  color: #fff;
}
@media screen and (max-width: 640px) and (min-width: 361px) {
  .projects {
    width: 590px;
    margin: 0 auto;
  }
  .project:nth-child(4n) {
    margin-right: 15px;
  }
  .project:nth-last-child(-n+4) {
    margin-bottom: 20px;
  }
  .project:nth-child(2n) {
    margin-right: 0px;
  }
  .project:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 360px) {
  .projects {
    width: 285px;
    margin: 0 auto;
  }
  .project {
    margin-right: 0px;
  }
  .project:nth-child(4n) {
    margin-right: 15px;
  }
  .project:nth-last-child(-n+4) {
    margin-bottom: 20px;
  }
  .project:last-child {
    margin-bottom: 0px;
  }
}
/*Подключаем вспомогательный элемент, убирающий последствия от "float"*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
/*Подключаем основную разметку сайта*/
/*Футер*/
.footer {
  min-width: 1210px;
  padding: 35px 0px;
  background-color: #3c3838;
  font-size: 14px;
}
.copyright {
  float: left;
  color: #fff;
  margin-left: 10px;
}
.developer {
  float: right;
  color: #fff;
  margin-right: 10px;
}
@media screen and (max-width: 640px) and (min-width: 361px) {
  .footer {
    min-width: 620px;
  }
}
@media screen and (max-width: 360px) {
  .footer {
    min-width: 340px;
  }
  .copyright {
    display: none;
  }
  .developer {
    float: none;
    display: block;
    text-align: center;
  }
}
/*Шапка*/
.header {
  min-width: 1210px;
  background-color: #0091be;
}
.header__inner {
  padding: 50px 0px;
  text-align: center;
}
.logo {
  display: inline-block;
  width: 215px;
  margin-right: 40px;
}
.img {
  max-width: 100%;
  height: auto;
}
.logo__label {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-top: 65px;
  width: 450px;
  line-height: 1.7;
  color: #fff;
  font-size: 46px;
  font-family: 'roboto-italic';
}
@media screen and (max-width: 640px) and (min-width: 361px) {
  .header {
    min-width: 620px;
  }
  .logo {
    margin-right: 0px;
  }
}
@media screen and (max-width: 360px) {
  .header {
    min-width: 340px;
  }
  .logo__label {
    display: none;
    vertical-align: top;
    text-align: left;
    margin-top: 65px;
    width: 450px;
    line-height: 1.7;
    color: #fff;
    font-size: 46px;
    font-family: 'roboto-italic';
  }
  .logo {
    margin-right: 0px;
  }
}
/*Описание секций*/
.section {
  min-width: 1200px;
  padding: 60px 5px 45px;
  box-shadow: 0 0 5px #eee;
}
.section__title {
  width: 100%;
  text-align: left;
  border-bottom: 3px solid #eeeeee;
  padding-bottom: 20px;
  font-size: 35px;
}
@media screen and (max-width: 640px) and (min-width: 361px) {
  .section__title {
    width: auto;
    margin-left: 10px;
  }
  .section {
    padding-left: 0px;
    padding-right: 0px;
    min-width: 620px;
  }
}
@media screen and (max-width: 360px) {
  .section__title {
    width: auto;
    margin-left: 10px;
  }
  .section {
    padding-left: 0px;
    padding-right: 0px;
    min-width: 340px;
  }
}
/*Подключаем всю типографику*/
a {
  color: #000000;
  text-decoration: none;
  transition: color 0.4s ease-in 0s;
}
a:hover {
  color: #0091be;
}
a:active {
  color: #00b4bf;
}
h1,
h2,
h3 {
  font-family: 'roboto-bold';
}
.article {
  line-height: 2.2;
}
ul {
  list-style: none;
}
