/*Шапка*/
.header{
	background-color: #0091be;
}

.header__inner{
	padding: 50px 0px;
	text-align: center;
}

.logo{
	display: inline-block;
	width: 215px;
	margin-right: 40px;
}

.img{
	max-width: 100%;
    height: auto;
}

.logo__label{
	display: inline-block;
	vertical-align: top;
    text-align: left;
	margin-top: 65px;
    width: 450px;
	line-height: 1.7;
	color: #fff;
	font-size: 46px;
	font-family: 'roboto-italic';
}

@media screen and (max-width: @max-width-normal) and (min-width: @max-width-lesser){
	.logo{
		margin-right: 0px;
	}
	
	.logo__label{
		display: block;
		width: auto;
		text-align: center;
		font-size: 30px;
	}
}

@media screen and (max-width: @max-width-lesser){
	.logo{
		margin-right: 0px;
	}
	
	.logo__label{
		display: block;
		width: auto;
		text-align: center;
		font-size: 24px;
	}
}