/*Проекты*/
.project {
  position: relative;
  display: inline-block;
}
.project:hover .project__inner {
  opacity: 1;
  top: 0px;
  text-indent: 0px;
}
.projects__title {
  margin-bottom: 45px;
}
.project__notebook {
  background: url("../img/notebook.png");
  background-size: contain;
}
.project__inner {
  position: absolute;
  display: block;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #0091be;
  text-align: center;
  opacity: 0;
  top: -9999px;
  text-indent: -9999px;
  transition: opacity 0.4s ease-in 0.2s;
}
.project__name {
  padding-top: 45%;
  color: #fff;
}
@media screen and (min-width: 641px) {
  .project {
    width: 285px;
    height: 285px;
    margin-right: 15px;
    margin-bottom: 20px;
  }
  .project:nth-child(4n) {
    margin-right: 0px;
  }
  .project:nth-last-child(-n+4) {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 640px) and (min-width: 360px) {
  .project {
    width: 285px;
    height: 285px;
    margin-right: 15px;
    margin-bottom: 20px;
  }
  .project:nth-child(2n) {
    margin-right: 0px;
  }
  .project:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}
